<!DOCTYPE html>
<html>
<head>
    <title>LTI Launch Successful</title>
</head>
<body>
    <h1>LTI Launch Successful!</h1>
    <h2>User Information:</h2>
    <ul>
        <li><strong>Full Name:</strong> {{ user_info.name }}</li>
        <li><strong>Given Name:</strong> {{ user_info.given_name }}</li>
        <li><strong>Family Name:</strong> {{ user_info.family_name }}</li>
        <li><strong>Email:</strong> {{ user_info.email }}</li>
        <li><strong>User ID:</strong> {{ user_info.user_id }}</li>
    </ul>
    <h2>Full User Info:</h2>
    <pre>{{ user_info|json_script:"user-info" }}</pre>

    <iframe width="600" height="877" src="https://lookerstudio.google.com/embed/reporting/454a21c5-50a4-49ff-91e7-3923a40c7b6d/page/p_oc6vj597ed" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
</body>
</html>
